.cars-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.car-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.car-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.14);
}

.car-image-box {
  height: 230px;
  position: relative;
  background: #f1f3f5;
}

.car-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #e63946;
  color: white;
  padding: 7px 13px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.car-content {
  padding: 22px;
}

.car-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.car-title h2 {
  font-size: 21px;
}

.car-title p {
  color: #777;
  margin-top: 5px;
}

.rating {
  background: #fff4d6;
  color: #9a6500;
  padding: 7px 10px;
  border-radius: 8px;
  height: fit-content;
  font-size: 13px;
  font-weight: bold;
}

.price {
  color: #e63946;
  font-size: 25px;
  margin: 18px 0;
}

.car-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: #4b5563;
  font-size: 14px;
}

.location {
  margin: 18px 0;
  color: #6b7280;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card-buttons button {
  border: none;
  padding: 13px;
  border-radius: 8px;
  font-weight: 700;
}

.details-btn {
  background: #111827;
  color: white;
}

.cart-btn {
  background: #e63946;
  color: white;
}

.details-btn:hover {
  background: #374151;
}

.cart-btn:hover {
  background: #c92f3b;
}

@media (max-width: 1050px) {
  .cars-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .cars-grid {
    grid-template-columns: 1fr;
  }

  .cars-section {
    padding: 50px 20px;
  }
}