* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #fffdfd;
  color: #121212;
}
.navbar {
  width: 100%;
  background: #0b0b0b;
  color: white;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #f9fafb;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ff4d30;
}

.hero {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  background: white;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero-text span {
  color: #0a0a01;
}

.hero-text p {
  font-size: 18px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.hero-btn {
  padding: 14px 30px;
  border: none;
  background: #ff4d30;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-btn:hover {
  background: #d93620;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  max-width: 600px;
}
.cars-section {
  padding: 60px 8%;
}

.cars-section h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.car-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.car-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.car-card:hover {
  transform: translateY(-8px);
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-info {
  padding: 10px;
}

.car-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.car-info p {
  color: #453e3e;
  margin-bottom: 5px;
}

.price {
  font-size: 15px;
  font-weight: bold;
  color: #010811;
}